
html *{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  color: #ffffff;
}

.content{
  display: flex;

  flex-direction: column;
  align-items: center;
}

.bottom {
  position: fixed;
  bottom: 0;
}
.footer{ 
  position: fixed;     
  text-align: center;    
  bottom: 0px; 
  width: 100%;
}  

* {

    box-sizing: border-box;
  }
  
  body {
    font: 16px Arial;  
  }
  
  /*the container must be positioned relative:*/
  .autocomplete {
    position: relative;
    display: flex;
    
  }
  
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    color: black;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
    color: black;
  }
  
  input[type=submit] {
    background-color: dodgerblue;
    color: #fff;
    cursor: pointer;
    color: black;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    color: black;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
    color: black;
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
    color: black;
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: #EC6606 !important; 
    color: black;
  }
  .div1 {
    text-align: center;
  }

  #game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;

  }
  /* Displaying lines */
  .linesHeadingBox {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    /* font-size: 2.5rem;
    font-weight: 700;*/
    height: 5rem; 
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;


  }
  .linesCorrectGuessBox {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    /* font-size: 2.5rem;
    font-weight: 700;*/
    height: 5rem; 
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    color: black;

  }.linesHalfCorrectGuessBox {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    /* font-size: 2.5rem;
    font-weight: 700;*/
    height: 5rem; 
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightyellow;

  }
  .linesWrongGuessBox {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    /* font-size: 2.5rem;
    font-weight: 700;*/
    height: 5rem; 
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    color: black;
  }

  /* Displaying Stations */
  .stationCorrectGuessBox {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    /* font-size: 2.5rem;
    font-weight: 700; */
    height: 5rem;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    }

  .stationWrongGuessBox {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    /* font-size: 2.5rem;
    font-weight: 700; */
    height: 5rem;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .stationHeadingBox {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    /* font-size: 2.5rem;
    font-weight: 700; */
    height: 5rem;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Displaying Distances */
  
  .distHeadingBox {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    /* font-size: 2.5rem;
    font-weight: 700; */
    height: 5rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .distCorrectGuessBox {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    /* font-size: 2.5rem;
    font-weight: 700; */
    height: 5rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    color: black;
  }
  
  .distWrongGuessBox {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    /* font-size: 2.5rem;
    font-weight: 700; */
    height: 5rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    color: black;
  }
  .distCloseGuessBox {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    /* font-size: 2.5rem;
    font-weight: 700; */
    height: 5rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightyellow;
    color: black;
  }

  .usersHeadingBox {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    /* font-size: 2.5rem;
    font-weight: 700; */
    height: 5rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .usersWrongGuessBox {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    /* font-size: 2.5rem;
    font-weight: 700; */
    height: 5rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    color: black;

  }
  .usersCorrectGuessBox {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    /* font-size: 2.5rem;
    font-weight: 700; */
    height: 5rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    color: black;
  }



  .filled-box {
    border: 2px solid black;
  }
  
  .guessRow {
    display: flex;
  }