
@font-face {
  font-family: 'Public Sans NSW';
  src: url('ttf/PublicSans-Regular.ttf');
}

body {
  background-color: #ebece6;
  font-family: Public Sans NSW;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  flex-direction: column;
}

.title {
  font-family: 'Public Sans NSW';
  color: #484647;
  font-size: 2em;
  margin-top: 10vh;
  margin-bottom: 3vh;
  /*transform: scale(.9, 1);*/
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#t-logo {
  width: 1em;
  height: 1em;
  padding-right: 1%;
}

.autocomplete {
  width: fit-content;
  position: relative;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 3%;
  margin: auto;
  width: fit-content;
}

#hintButton {
  background-color: rgb(183, 183, 183);
  width: 3vw;
  height: 5.5vh;
  font-size: 1.5em;
  color: #f9f9f9;
  border: 3px solid gray;
  border-radius: 5px;
  min-width: 50px;
  min-height: 40px;
  margin-left: 15px;
}

#hintButton:hover {
  background-color: rgb(206, 206, 206);
  border: 3px solid rgb(172, 172, 172);
}

#closeHint {
  height: 35px;
  width: 35px; 
  border-radius: 20px;
  background-color: #f6891f;
  border: 3px solid white;
  color: white;
}

#closeHint:hover {
  background-color: #f3aa60;
}

.win-blur {
  display: flex;
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(235, 236, 230, 0.5);
  backdrop-filter: blur(6px);
  z-index: 5;
}

.map-container {
  display: flex;
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ebece6;
  z-index: 5;
}

#map {
  height: 99vh;
}

.suggestions {
  position: absolute;
  width: 100%;
  max-height: 232px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
  z-index: 1000;
}

.suggestions li {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: solid 1px grey;
  box-sizing: border-box;
}

.suggestions li:last-child {
  border-bottom: none;
}

.suggestion-active {
  background-color: #fcb667;
  color: white;
}

.suggestion-unactive {
  background-color: white;
}

.no-suggestions {
  width: 100%;
  text-align: center;
  color: #fa8f94;
  padding: 10px;
  position: absolute;
  padding: 0;
  margin: 0;
}

.suggestions::-webkit-scrollbar {
  width: 8px;
}

.suggestions::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.suggestions::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.suggestions::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

.station-table {
  text-align: center;
  margin: 20px auto;
  width: 80%;
  border-collapse: collapse;
  font-size: 1.5em;
}

.station-table table {
  width: 100%;
  border-spacing: 3px 0px;
}

.station-table table tbody tr:last-child td{
  border-radius: 0px 0px 15px 15px;
}

.station-table th {
  position: relative;
  padding: 1%;
  background-color: #f6891f;
  color: #ebece6;
  border-radius: 15px 15px 0px 0px;
  height: 50px;
  z-index: 1;
}

.station-table td {
  padding: 10px 10px 7px 10px;
  position: relative;
  color: #484647;
  font-weight: 400;
}

.station-table .row-even {
  background-color: #ffffff;
}

.station-table .row-odd {
  background-color: #f9f9f9;
}

.station-table .arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.station-table .incorrect {
  background-color:#fa8f94;
  color: #484647;
}

.station-table .default {
  background-color: rgb(183, 183, 183);
}

.station-table .correct {
  background-color:#8cdb96;
  color: #484647;
}

.station-table .partial {
  background-color:#ebd489;
  color: #484647;
}

.win-container {
  position: fixed;
  width: 360px;
  height: 420px;
  left: calc(50vw - 180px);
  top: calc(50vh - 210px);
  margin: auto;
  z-index: 2;
  background-color: #ebece6;
  border-radius: 15px;
  border: 3px solid #acacac;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #484647;
  font-weight: 400;
  font-size: 1.5em;
}

.win-heading {
  height: 75px;
  background-color: #f6891f;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  color: #ebece6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.win-message {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 75%;
}

.share-flex {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.share-icon {
  width: 40px;
  height: 40px;
}

.lines {
  margin: 4px;
}

.header {
  position: absolute;
  top: 1vw;
  width: 99vw;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

a:has(.header-logo) {
  width: 50px;
  height: 50px;
}

.header-logo {
  position: relative;
  width: inherit;
  height: inherit;
  border-radius: 10vw;
}


.background-container {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  z-index: -3;
  display: flex;
  flex-wrap: wrap;
}

.background {
  width: 20vw;
  height: 20vw;
  position: relative;
  opacity: 50%;
  z-index: -2;
}

.train{
  position: fixed;
  width: 2.5vw;
  height: 2.5vw;
  z-index: -1;
}

.guess-image-container {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 10px;
}

.guess-image {
  width: 2.75vw;
}

.guess-count {
  text-align: center;
  font-family: 'Public Sans NSW';
  color: #484647;
  font-size: 12pt;
}



.answer-field {
  position: fixed;
  top: 100px;
  left: calc(50vw - 250px);
  width: 500px;
  height: 700px;
  background-color: #fdfdfc;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.shadow {
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

.answer-field-body {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}

.timer {
  width: calc(100% - 10px);
  height: 50px;
  background-color: #f6891f;
  color: #ffffff;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  gap: 7px;
  align-items: baseline;
  justify-content: flex-end;
}

.timer * {
  font-family: 'Inter';
  font-weight: 350;
  position: relative;
  top: 20px;
}

.timer span {
  font-size: 10pt;
}

.timer-number {
  width: 125px;
}

.previous-guess-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.previous-guess-background {
  background-color: #f4f5f0;
}

.previous-guess-icon {
  width: 40px;
  height: 40px;
}

.previous-guess-symbol {
  width: 30px;
  height: 30px;
  justify-self: end;
}

.center-text-symbol {
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.no-margin {
  margin: 0px;
}

.last-guessed-container {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  gap: 20px;
  border-bottom: 1px solid #ebece6;
}

.last-guessed-container img {
  width: 75px;
  height: 75px;
}

.last-guessed-container div * {
  margin: 0px
}

h3.answer-field-h3 {
  font-family: 'Inter';
  font-size: 10pt;
  font-weight: 400;
}

h2.answer-field-h2 {
  font-size: 14pt;
}

.history-container {
  position: relative;
  width: 100%;
  height: 323.667px;
  border-bottom: 1px solid #ebece6;
  padding-bottom: 10px;
}

.stations-away-container {
  position: relative;
  width: 20%;
}

.symbol-margin {
  margin-left: auto;
}

.symbol-splitter {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.symbol-container {
  display: flex;
  gap: 10px;
  padding-right: 10px;
  height: 100%;
}

.symbol-container div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30px;
  bottom: 6pt;
}

.symbol-container div img {
  width: 30px;
  height: 30px;
}

.answer-footer {
  display: flex;
  width: 100%;
  margin-top: 1px;
  justify-content: space-between;
}

.orange-text {
  color: #f6891f;
}

.guesses-left-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  top: 9px;
  flex: 1;
}

.guesses-left-text {
  font-size: 32pt;
  font-family: 'Inter';
  font-weight: 400;
}

.footer-button-container {
  display: flex;
  align-self: flex-end;
  gap: 10px;
}

.footer-button {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  background-color: #f6891f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-button img{
  width: 30px;
  height: 30px;
  filter: invert(100%);
}

.answer-field-search {
  width: 460px;
  height: 50px;
  margin: auto;
  border: 0px;
  background-color: #d9d9d9;
  border-radius: 10px;
  text-align: start;
  font-size: 20pt;
  color: #000000;
  outline: 0;
  text-indent: 10px;
}

.answer-field-search::placeholder {
  color: #fdfdfc;
}

.htp-container {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  height: 460px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.htp-square {
  width: 70%;
  height: 70%;
  border-radius: 10px;
  background-color: #e4e4e4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.htp-square h2 {
  font-size: 28pt;
  font-weight: 400;
  text-align: center;
  margin: 20px;
}

.htp-square h3 {
  font-family: 'Inter';
  font-weight: 300;
  font-size: 14pt;
  text-align: center;
  margin: 20px;
}

.htp-square img {
  width: 40px;
  height: 40px;
}

.htp-arrow {
  width: 60px;
  height: 60px;
}

.cursor-hover:hover {
  cursor: pointer;
}

.htp-picture-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  width: 75%;
  margin-top: 0;
  margin-bottom: 0;
}

.htp-circle {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 2px solid #b8b8b8;
  display: flex;
  align-items: center;
  margin: 0;
}

.htp-circle img {
  width: 90%;
  height: 90%;
  margin: auto;
}

.htp-circle-text {
  width: 100%;
  text-align: center;
  margin: 0 !important;
}

.htp-space-text {
  line-height: 3;
}

.htp-t-logo {
  margin: auto;
  width: 75px !important;
  height: 75px !important;
}

.htp-close-container {
  display: flex;
  width: calc(100% - 20px);
  height: 30px;
  justify-content: flex-end;
  margin: 10px;
}

.htp-close-button {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: #f6891f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.htp-close-image {
  filter: invert(100%);
}

.green {
  background-color: #9EFB96;
}

.yellow {
  background-color: #F4FA9C;
}

.red {
  background-color: #FF8888;
}